:root {
  --primary-color: #205295;
  --secondary-color: #0A2647;
  --accent-color: #A5D7E8;
  --text-muted: #6c757d;
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.15;
}

body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  width: 100%;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}