#site-footer {
  background-color: #f5f5f5;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

#site-footer .site-description {
  flex: 1;
}

#site-footer .site-description p {
  color: #666;
  font-size: 0.9rem;
  text-align: justify;
  width: 50%;
}

#site-footer .site-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}

#site-footer .rights-reserved,
#site-footer .contact {
  /* color: #999; */
  font-size: 0.85rem;
}