#site-header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  gap: 1rem;
  justify-content: left;
  padding: 1rem;
}

#site-header .logo {
  border-radius: 8px;
}

#site-header .site-name {
  font-size: 1.4rem;
  font-weight: unset;
}