:host {
  display: block;
  border: 1px dashed black;
  padding: 1rem;
  margin: 1rem;
  font-family: sans-serif;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

:host(.active),
:host(:hover) {
  background-color: beige;
}

::slotted(span) {
  color: magenta;
}

h1 {
  color: blue;
}